$primary:       rgb(37, 37, 37);
$secondary:     rgb(29, 69, 145);
$info: rgb(0, 136, 248);

$border-color:#8a8a8a;


@media (min-width: 6000px) {
    .alto-100{
        height: 100vh;
    }
}


scroll-container {
    display: block;
    width: 98%;
    height: 15rem;
    margin-left: 4px;
    margin-right: 4px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

@import "../node_modules/bootstrap/scss/bootstrap";