@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {  display: grid;
  grid-template-columns: 0.7fr 1.3fr repeat(3, 1fr) 0.4fr 1.6fr;
  grid-template-rows: 0.8fr 1.7fr repeat(4, 1fr);
  gap: 10px 18px;
  grid-auto-flow: row;
  grid-template-areas:
    "Nav bienvenida bienvenida bienvenida bienvenida bienvenida bienvenida"
    "Nav tarjeta-1 tarjeta-1 tarjeta-2 tarjeta-2 ultimosmov ultimosmov"
    "Nav millas millas millas millas ultimosmov ultimosmov"
    "Nav prestamos prestamos prestamos prestamos ultimosmov ultimosmov"
    "areablanca areablanca areablanca areablanca areablanca areablanca areablanca"
    ". . . . . . .";
    }

.Nav {
  grid-area: Nav;
  width: 14em;
}

.tarjeta-1 {  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3.3fr 0.1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  grid-area: tarjeta-1;
}

.tarjeta-2 { grid-area: tarjeta-2; }

.prestamos { grid-area: prestamos; }

.millas { grid-area: millas; }

.bienvenida { grid-area: bienvenida;
              background-color: aqua;
}

.ultimosmov { grid-area: ultimosmov; }

.areablanca { grid-area: areablanca; }

p{
  font-family: 'Montserrat', sans-serif;
}

.cuenta{
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}