{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <body class="d-flex justify-content-center">
        
        <form method= 'POST' class= " w-75 text-center p-2">
            <h1> Registro de usuario </h1>
            {% csrf_token %}
            <div class="row">
                <div class= 'col p-5'>
                    <h3> Datos del usuario </h3>
                    <div class='row text-start'>
                        {{form_user}}
                    </div>
                </div>
                <div class='col p-5'>
                    <h3> Datos del cliente </h3>
                    <div class='row text-start'>
                        {{form_cliente}}
                    </div>
                    <div class='row text-start'>
                        {{form_direccion}}
                    </div>
                </div>
            </div>
            <button type="submit" class="w-25">Registrarse</button>

        </form>
    </form>
    </form>
    </form>
    </form>
    </form>
    </form>
    </body>
{% endblock  %}