{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <h1> Registro de usuario </h1>

    <form method= 'POST' class= "row">
                
        {% csrf_token %}
        {{form_user}}
        {{form_cliente}}
        {{form_direccion}}

        <button type="submit">Registrarse</button>

    </form>
{% endblock  %}