@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap");

body{
    /* background-image: url("../img/itbank-bienvenida.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    margin:0 auto;  
    background-color: #302e39;
    font-family: "Montserrat", sans-serif;
}
body .bienvenida{
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;

}
body img {
    
    width:70% ;
}

body .boton {
   font-size: medium;
   font-weight: normal;
   color: white;
   background-color: #0e6da8;
   border-radius: 1em;
   border: none;
   cursor: pointer;
   height: 3em;
   width: 20em;

}