* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form{
    font-size: 1.4em;
    margin-bottom: 10px;
}

.formularioacceso {
    width: 32em;
    background-color:#252525 ;
    color: white;
    padding:20px;
    padding-top: 250px;
    height: 1233px;
    justify-content: center;
    flex-direction: column;
}

.infodebienvenida {
    width: 135em; 
    text-align: center left 5em;
    gap: 20px;
    background: rgb(0, 73, 207);
    background: linear-gradient(90deg, #0e6da8 20%, rgb(51, 128, 179) 25%, rgb(255, 255, 255) 80%);
}
.formularioacceso h1 {
    font-size: 6em;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 55px;
}

.infodebienvenida h2 {
    font-size: 5em;
    text-align: right;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

.infodebienvenida h3 {
    font-size: 6em;
    text-align: right;
    font-weight: bold;    
    color: #0e6da8;
    font-family: 'Caveat Brush', cursive;
}

.referencias {
    margin-top: 3em;
    text-align: center;
}

.terminosycondiciones {
    text-align: center;
    margin-top: 180px;
}

.infodebienvenida h4 {
    font-size: 2em;
    text-align: right;
    font-weight: bold;    
    color: rgb(0, 0, 0);
}

img{
    padding-top: 100px;
    width: 900px;
    height: 1200px;
}

.ingresar{
    color: white;
    text-decoration: none;
}