body {
    background: #0e6da8;
    background: -webkit-gradient(linear, left top, right top, from(#302e39), to(#0e6da8));
    background: linear-gradient(to right, #302e39, #0e6da8);
  }
 
  .bg {
    background-image: url(/img/Foto-personal.png);
    background-position: center center;
  }
