@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif
}
main {

    width: 100%;
    margin: 0 auto;

}

body {
    background-color: #302e3911;
}
a {
    text-decoration: none;
    cursor: pointer;
}

li{
    list-style: none;
}

/*header*/
header .barra-nav {
    margin: 0 auto;
    height: 6em;
    display: flex;
	justify-content: space-between;
	align-items: center;
    background-color:#302e39;
    
}
/*imagen logo*/
header .barra-nav .logo-itbank{
    height: 5em;
    padding-left: 8em;

}
/* botones header*/
header .boton-nav{
    font-size: medium;
    font-weight:normal;
    color: white;
    background-color:#0e6da8;
    border-radius: 1em;
    border: none;
    cursor: pointer;
}

/* menu izq*/

header .menu-desplegable button {
    height: 3em;
    width: 8em;
    margin-left: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .barra-nav .boton-nav i{
    margin-right: 0.5em;
}

header .barra-nav p{
    margin:0;
}

header .menu-desplegable div{
    background-color:#0e6da8;
    color: #fff;
}
header .menu-desplegable .btn-close{
    color: #fff;
}

/* sector derecho*/
header .nav-right-section {
    display: flex;
    justify-content: flex-end;
    margin: 1em;
    
}

header .nav-right-section li{ 
    color:white;
    height: 3em;
    padding: 0.5em;
    display: flex;
    align-items: center;
}


header .nav-right-section img{
    height: 2em;
    border-radius: 50%;
    margin: 0.5em;
    margin-right: 1em;  
}

header .nav-right-section .boton-nav{
    width: 6em;
    
}
/*buscador */
header  .buscador-header{
   display:flex;
   justify-content: center;
   margin: 1em;
}
header  .buscador-header form{
    display: flex;
    justify-content: center;
}
header .buscador-header input {
    height: 2.5em;
    width: 30rem;
    border-radius: 0.5em;
    border-width:thin;
    outline-offset: 0;
    outline-color:#0e6da8;
    margin-right: 0.5em;

}

header .buscador-header .boton-nav{
    height: 2.5em;
    width: 3em;
    
}

header .buscador-header .boton-nav i{
    display: flex;
    justify-content: center;
    align-content: center;
    
}

main {
    margin-bottom: 4rem;
}

/*fin header*/

/*main*/

main .titulo-nombre{
    margin-left: 3rem;
    margin-top: 2rem;
}

/* tarjetas*/

.cuenta{
display: grid;
grid-template-areas: 
 'a b';
margin: 3.125em;
flex: auto;
}



.cuenta article{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(238,247,247,1) 0%, rgba(14,109,168,1) 100%);
height: 16em;
width: 28em;
padding: 0.37em;
-webkit-border-top-left-radius: 0.6em;
-webkit-border-bottom-right-radius: 0.6em;
-moz-border-radius-topleft: 0.6em;
-moz-border-radius-bottomright: 0.6em;
border-top-left-radius: 0.6em;
border-bottom-right-radius: 0.6em;
border: 0.032em solid #302e39;
}


.cuenta article:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/* ACCESOS DIRECTOS */

main .accesos-directos .títulos {
    color: white;
    background-color: #302e39;
}

main .accesos-directos .títulos h3 {
    margin-left: 1.5rem;
    display: flex;
    justify-content: start;    
}

main .accesos-directos .títulos p {
    display: flex;
    justify-content: left;
    margin-left: 3rem;
}

main .accesos-directos .nav-bar {
    display: grid;
    grid-template-areas: 
    'a b c'
    'd e f';
    gap: 2.4rem 2.4rem;
    margin: 0 10%;
    padding: 2.5rem;
}

main .accesos-directos .nav-bar button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0e6da8;
    border: 3px #0e6da8 solid;
    border-radius: 10px;
}

main .accesos-directos .nav-bar button img {
    width: 8rem;
    height: 8rem;
}

/* ANIMACIONES */

main .accesos-directos .nav-bar button:hover {
    color:white;
    background-color: #063d5f;
    border: 3px #0e6da8 solid;
}


/* panel consumos */

main .ultimosconsumos{
    display: flex;
    flex-direction: row;
    background-color:#302e39;
    margin-bottom: 10px;
}

main .ultimosconsumos h3 {
    display: flex;
    justify-content: start;
    padding-top: .5rem;
    margin-left: 1.5rem;
    color: white;
}

.dataconsumos{
font-size: 20px;
font-weight: 600;
margin-left: 2rem;
}

.fechaconsumos{
font-size: 20px;
font-weight: 600;
} 

.valorconsumos{
font-size: 20px;
font-weight: 600;
}

.pruebaconsumo{
display: flex;
flex-direction: column;
}


.cajaconsumos {
display: flex;
width: calc(100% / 5 - 15px);
justify-content: space-between;
width: 100%;
padding-right: 1rem;

}

.nombredelconsumo{
    margin-left: 1rem;
   
}

/* fin panel consumos */

/*footer agus*/
  footer{
    
    width: 100%;
    background:#302e39;
  }
  footer .contenido {
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  footer .contenido p,a{
    color: #fff;}

    footer .contenido .cajaright{
      position: relative;
      bottom: -35px;
        width: 33%;
        transition: all 0.4s ease;
      }

footer .navegacion {font-weight: bold;
font-size:22px;
}

footer .cajaright a:hover{
    color: #0e6da8;
  }
     
footer .botones-footer {
    min-width: 200px;
    display: flex;
    justify-content: space-around;
  }
  
footer .botones-footer a {
    position: relative;
    bottom: 10px;
    text-decoration: none;
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fff;
    color: #302e39;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }
  
 footer .botones-footer a:hover {
    transform: scale(1.2);
  }
  
  footer img {  
    width: 200px;
    height: 120px;}

  footer .cajamiddle {
    position:relative;
    right: 550px;
    bottom: 12px;
  }
/*fin de footer*/


/* RESPONSIVE */

@media screen and (max-width: 770px) {
    header .barra-nav{
        font-size: small; 
    }

    header .barra-nav .logo-itbank{
        padding: 0;
        height: 4em;
    }
    
    header .barra-nav .boton-nav {
        width: 4em;
    }
    header .barra-nav .boton-nav p   {
        display: none ;
        
    }

    header .barra-nav ul {
        padding: 0;
        
    }
    header .barra-nav ul p{
        padding: 0;
        width: 4em;
    }
   
    header .buscador-header input{
        width: 15em;
    }
   
    main .accesos-directos .nav-bar {
        grid-template-areas: 
        'a b'
        'c d'
        'e f';
    }
}

@media screen and (max-width: 560px) {
    main .accesos-directos .nav-bar {
        grid-template-areas: 
        'a'
        'b'
        'c'
        'd'
        'e'
        'f';
    }
}

@media screen and (max-width: 1060px) {
    main .cuenta {
        display: grid;
        grid-template-areas: 
        'a'
        'b';
        gap: 5rem;
        justify-content: center;
    }

}